{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-center my-4">
        <div class="mb-4">
            <h3 class="text-primary">{{ habitat.name }}</h3>
        </div>
        <div class="p-5 text-start my-4 bg-light text-start my-4" style="border-radius:25px;">
            <p style="color:#666;">
                {{ habitat.description }}
            </p>
            {% if habitat.vetOpinion != null %}
                <p style="color:#666;">
                    L'avis du veterinaire sur cet habitats: {{ habitat.vetOpinion }}
                </p>
            {% endif %}
            <p style="color:#666;">
                Faut-il l’améliorer ou non? {% if habitat.needImproved %} Oui {% else %} Non {% endif %}
            </p>
            
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}" class="btn btn-primary">Edit</a>
                <form method="post" action="{{ path('app_habitats_delete', {'id': habitat.id}) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitat.id) }}">
                    <button class="btn btn-secondary">Delete</button>
                </form>
            {% endif %} 
            {% if is_granted('ROLE_VETERINARY') %}
                <a href="{{ path('app_habitats_vet_edit', {'id': habitat.id}) }}" class="btn btn-primary">Add your opinion</a>
            {% endif %}  
        </div>
        
    </div>

    <div class="bg-light text-center mt-5 py-5">
            <div >
                <h3 class="text-primary">Les animaux de cette habitats</h3>
            </div>

            <div class="container my-4">
                <div class="row justify-content-evenly">
                    {% for animal in habitat.animals %}
                        <div class="col-lg-3 col-sm-5 my-4">
                            <a href="{{ url('app_animal_details', {'id': animal.id}) }}" class="text-decoration-none">
                                {% if habitat.images[0] starts with 'http' %}
                                    <img class="rounded-circle shadow-5-strong image-size mb-2" alt="{{ animal.name }}" src="{{ animal.images[0] }}" />
                                {% else %}
                                    <img class="rounded-circle shadow-5-strong image-size mb-2" alt="{{ animal.name }}" src="{{ asset('uploads/images/' ~ animal.images[0]) }}" />
                                {% endif %}
                                
                                <h6>{{ animal.name }}</h6>
                            </a>
                        </div>
                    {% else %}
                        <h6> No animal found in this habitats.</h6>
                    {% endfor %}
                    
                   
                </div>
                
            </div>
        </div>
{% endblock %}
