{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-center my-4">
        <div class="mb-4">
            <h3 class="text-primary">{{ habitat.name }}</h3>
        </div>
        <div class="p-5 text-start my-4 bg-light text-start my-4" style="border-radius:25px;">
            <p style="color:#666;">
                {{ habitat.description }}
            </p>    
        </div>
        
    </div>

    <div class="bg-light text-center mt-5 py-5">
            <div >
                <h3 class="text-primary">Les animaux de cette habitats</h3>
            </div>

            <div class="container my-4">
                <div class="row justify-content-evenly">
                    {% for animal in habitat.animals %}
                        <div class="col-lg-3 col-sm-5 my-4">
                            <a href="{{ url('app_animal_details', {'id': animal.id}) }}" class="text-decoration-none">
                                <img class="rounded-circle shadow-5-strong image-size mb-2" alt="{{ animal.name }}" src="{{ animal.images[0] }}" />
                                <h6>{{ animal.name }}</h6>
                            </a>
                        </div>
                    {% else %}
                        <h6> No animal found in this habitats.</h6>
                    {% endfor %}
                    
                   
                </div>
                
            </div>
        </div>
{% endblock %}
