{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-start px-5 py-5">
        <div>
            <h3 class="text-primary text-center">Edit {{ animal.name }} animal information</h3>
        </div>
        <div class="card bg-dark my-4 p-5" style="border-radius:25px;">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.name, 'name', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                        {{ form_widget(form.name, {'attr': {
                            'class': 'form-control', 
                            'id': 'nameInput', 
                            'placeholder': 'name',
                            'type': 'text',
                        }}) }}
                                    
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.race, 'race', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                        {{ form_widget(form.race, {'attr': {
                            'class': 'form-control', 
                            'id': 'raceInput', 
                            'placeholder': 'race',
                            'type': 'text',
                        }}) }}
                                    
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.images, 'images', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                        {{ form_widget(form.images, {'attr': {
                            'class': 'form-control', 
                            'id': 'imagesInput', 
                            'placeholder': 'images',
                            'type': 'text',
                            'required' : false,
                        }}) }}
                                    
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.habitat_id, 'habitat', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                            {{ form_widget(form.habitat_id, {'attr': {
                                'class': 'form-control', 
                                'id': 'descInput', 
                                'aria-label': 'habitat',
                                'placeholder': 'habitat',
                                'style': 'height:100px'
                            }}) }}
                                    
                    </div>
                </div>
                <div class="mb-3 row justify-content-end">
                    <div class="col-lg-1 col-sm-12 mb-2 text-center">
                        <button type="submit" class="btn color-rose text-white">Update</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}
