{% extends 'base.html.twig' %}

{% block body %}

<div class="container text-start px-5 py-5">
        <div>
            <h3 class="text-primary text-center">Create New Service</h3>
        </div>
        <div class="card bg-dark my-4 p-5" style="border-radius:25px;">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                        {{ form_widget(form.title, {'attr': {
                            'class': 'form-control', 
                            'id': 'titleInput', 
                            'placeholder': 'title',
                            'type': 'text',
                        }}) }}
                                    
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.image, 'image', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                        {{ form_widget(form.image, {'attr': {
                            'class': 'form-control', 
                            'id': 'imageInput', 
                            'placeholder': 'image',
                            'type': 'text',
                        }}) }}
                                    
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <div class="col-lg-3 col-sm-12 mb-2">
                        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label text-light'}}) }}
                    </div>
                    <div class="col-lg-9 col-sm-12 mb-2">
                            {{ form_widget(form.description, {'attr': {
                                'class': 'form-control', 
                                'id': 'descInput', 
                                'aria-label': 'Description',
                                'placeholder': 'description',
                                'style': 'height:100px'
                            }}) }}
                                    
                    </div>
                </div>
                <div class="mb-3 row justify-content-end">
                    <div class="col-lg-1 col-sm-12 mb-2 text-center">
                        <button type="submit" class="btn color-rose text-white">Save</button>
                    </div>
                </div>
            {{ form_end(form) }}

            {# <a href="{{ path('app_services_show') }}" class="btn btn-secondary">Back to list</a> #}
        </div>
    </div>
   

    {# <a href="{{ path('service_index') }}" class="btn btn-secondary">Back to list</a> #}
{% endblock %}