{% extends 'base.html.twig' %}

{% block body %}

<!-- Les services Section -->

    <div class="container text-center my-4">
        <div>
            <h3 class="text-primary">Nos services</h3>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_services_create') }}" class="btn btn-primary">Create New Service</a>
        {% endif %}
       
        {% for service in services %}
            <div class="p-5 bg-light text-start my-4" style="border-radius:25px;">
                <h5 class="text-primary">{{ service.title }}</h5> 
                <p style="color:#666;">
                    {{ service.description }}
                </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_services_edit', {'id': service.id}) }}" class="btn btn-primary">Edit</a>
                    <form method="post" action="{{ path('app_services_delete', {'id': service.id}) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
                        <button class="btn btn-secondary">Delete</button>
                    </form>
                {% endif %}
                   
            </div>
        {% else %}
            <h6> No Services found.</h6>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <h6>This section is only visible to admins.</h6>
            <p>Some sensitive information for admin users only.</p>
        {% endif %}
    </div>


{% endblock %}
