{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center my-4 pb-5">
        <div class="mb-4">
            <h3 class="text-primary">{{ animal.name }}</h3>
        </div>
        <div class="d-flex flex-row my-5 justify-content-around">
            {% for image in animal.images %}
                <div class="p-2">
                    <img class="rounded shadow-5-strong w-100 item-image-size" alt="{{ animal.name }}" src="{{ image }}" />
                </div>
            {% endfor %}
        </div>

        <div class="p-5 text-start my-4 bg-light text-start my-4" style="border-radius:25px;">
            <p style="color:#666;">
                Le race de  {{ animal.name }} : {{ animal.race }}
            </p> 
            <p style="color:#666;">
                L'habitat où {{ animal.name }} est affecté : {{ animal.getHabitatId().name }}
                
            </p>    
        </div>
        
    </div>
{% endblock %}
