{% extends 'base.html.twig' %}

{% block body %}

    <!-- Les habitats Section -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <div>
                <h3>Les habitats</h3>
            </div>
            <div class="row justify-content-evenly my-4">
                {% for habitat in habitats %}
                    <div class="col-lg-3 col-sm-5 my-2">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="{{ habitat.name }}" src="{{ habitat.images[0]}}" />
                        <h6>{{ habitat.name }}</h6>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

    <!-- Les services Section -->
    <div class="bg-primary py-4">
        <div class="container text-center text-white">
            <div>
                <h3>les Services</h3>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide my-5" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-around my-4">
                            <div class="col-lg-6 col-sm-12 my-2">
                                <img src="images/service-1.jpg" class="rounded shadow-5-strong" alt="services" style="width:500px;height:350px;"> 
                            </div>
                            <div class="col-lg-6 col-sm-12 my-2 text-start">
                                <h3>Restauration</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-around my-4">
                            <div class="col-lg-6 col-sm-12 my-2">
                                <img src="images/service-1.jpg" class="rounded shadow-5-strong" alt="services" style="width:500px;height:350px;"> 
                            </div>
                            <div class="col-lg-6 col-sm-12 my-2 text-start">
                                <h3>Restauration</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-around my-4">
                            <div class="col-lg-6 col-sm-12 my-2">
                                <img src="images/service-1.jpg" class="rounded shadow-5-strong" alt="services" style="width:500px;height:350px;"> 
                            </div>
                            <div class="col-lg-6 col-sm-12 my-2 text-start">
                                <h3>Restauration</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

    <!-- Nos animaux Section -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <div>
                <h3>Nos Animaux</h3>
            </div>
            <div class="row justify-content-evenly my-4">
                {% for animal in animaux %}
                    <div class="col-lg-2 col-sm-5 my-2">
                        <img class="rounded-circle shadow-5-strong image-size mb-2" alt="{{ animal.name }}" src="{{ animal.images[0] }}" />
                        <h6>{{ animal.name }}</h6>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

    <!-- Les avis Section -->
    <div class="bg-info py-4">
        <div class="container text-center text-white">
            <div>
                <h3>les avis</h3>
            </div>
            <div class="row justify-content-around my-4">
                <div class="col-lg-5 col-sm-12 my-2">
                     <div class="card p-4" style="background-color:#F8F8F9;border-radius:25px;">
                        <div class="card-body text-start">
                            <h5 class="card-title text-black">
                                <h5 class="card-title text-black">
                                Jose Almen 
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </h5>
                            <p class="card-text" style="color:#666;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 my-2">
                     <div class="card p-4" style="background-color:#F8F8F9;border-radius:25px;">
                        <div class="card-body text-start">
                            <h5 class="card-title text-black">
                                Jose Almen 
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </h5>

                            <p class="card-text" style="color:#666;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-end my-4">
                <h6><a href="/">Plus d'avis</a></h6>
            </div>
            
        </div>
    </div>

    <!-- Laissez un commentaire Section -->
    <div class="bg-light py-5">
        <div class="container text-start px-5">
            <div>
                <h3 class="text-primary">Laissez votre commentaire</h3>
            </div>
            <div class="card bg-dark my-4 p-5" style="border-radius:25px;">
                <form>
                        <div class="mb-3 row">
                            <div class="col-lg-3 col-sm-12 mb-2">
                                <label for="psedoInput" class="form-label text-light">Un pseudo</label>
                                <div id="pseudoHelp" class="form-text text-info">Cet avis sera ensuite soumis à validation par l’employé.</div>
                            </div>
                            <div class="col-lg-9 col-sm-12 mb-2">
                                <input type="email" class="form-control" id="psedoInput" aria-describedby="pseudoHelp" placeholder="pseudo">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-lg-3 col-sm-12 mb-2">
                                <label for="commentaireInput" class="form-label text-light">Commentaire</label>
                            </div>
                            <div class="col-lg-9 col-sm-12 mb-2">
                                <textarea class="form-control"  id="commentaireInput" aria-label="Commentaire" placeholder="votre commentaire" style="height:100px"></textarea>
                                
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-end">
                            <div class="col-lg-1 col-sm-12 mb-2 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        
                    </form>
            </div>
            
        </div>
    </div>

{% endblock %}